{{ form_start(formformations) }}
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    {{ form_row(formformations.title) }}
                </div>
                <div class="col">
                    {{ form_row(formformations.description) }}
                </div>
                <div class="col">
                    {{ form_row(formformations.publishedAt) }}
                </div>
                <div class="col">
                    {{ form_row(formformations.playlist) }}
                </div>
                <div class="col">
                    {{ form_row(formformations.categories) }}
                </div>
                <div class="col">
                    {{ form_row(formformations.enregistrer) }}
                </div>
            </div>
        </div>
    </div>
{{ form_end(formformations) }}       